.search-hints {
  font-family: 'Arial', sans-serif;
  display: flex;
  gap: 8px;
  align-items: baseline;
  justify-content: center;
  margin: 10px auto;

  &__prompt {
    padding: 4px 0 8px;
    color: black;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
  }

  &__item {
    display: flex;
    gap: 3px;
    align-items: baseline;
    padding: 4px 0 8px;
  }

  &__link {
    text-decoration: none;
    border-radius: 8px;
    padding: 4px 6px 8px 6px;
    transition: background-color 0.3s ease;
    background-color: var(--plate-color);

    &:hover,
    &:focus {
      .search-hints__text {
        color: var(--key-color-dark);
      }
    }
  }

  &__text {
    background-image: linear-gradient(92.97deg, #da15b8 4.93%, #8d06cc 100%);
    background-clip: text;
    color: transparent;
  }
}
